# Python
*.py[cod]
*$py.class
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3-journal
/media


# Entornos virtuales
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

