{% extends "base.html" %}
{% load static %}

{% block titulo %}UEFA Champions League - Inicio{% endblock %}

{% block container_class %}container-fluid p-0{% endblock %}

{% block contenido %}

<div class="champions-header">
    <h1 class="champions-title">UEFA Champions League</h1>
    <p class="champions-subtitle">La Competición Más Prestigiosa de Europa</p>
</div>

<div class="logo-container">
    <img src="{% static 'img/champions.png' %}" alt="Logo de la Champions League"/>
</div>
{% endblock %}